@model LoginModel

@{
    Layout = "_LayoutLoggedOut";
    ViewData["Title"] = "Reset Password";
}

@if (TempData["MensagemErro"] != null)
{
    <div class="alert alert-danger" role="alert">
        <button type="button" class="btn btn-danger btn-sm close-alert" data-bs-dismiss="alert" aria-label="Close">X</button>
        @TempData["MensagemErro"]
    </div>
}
@if (TempData["MensagemSuccess"] != null)
{
    <div class="alert alert-success" role="alert">
        <button type="button" class="btn btn-danger btn-sm close-alert" data-bs-dismiss="alert" aria-label="Close">X</button>
        @TempData["MensagemSuccess"]
    </div>
}

<div>
    <H1>Reset Password</H1>
</div>

<form asp-controller="Login" asp-action="ResetPasswordConfirm" method="post">
    <div class="mb-3">
        <label for="email" class="form-label">Email address</label>
        <input type="text" asp-for="Email" class="form-control w-25" id="email">
        @Html.ValidationMessageFor(x => x.Email)
    </div>

    <div>
        <button type="submit" class="btn btn-primary">Reset Password</button>
        <a asp-controller="Login" asp-action="Index" class="btn btn-secondary" role="button">Back</a>
    </div>

</form>
