@model User

@{
}

<a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Hello! @Model.Name</a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
</button>
<div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
    <ul class="navbar-nav flex-grow-1">
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Notice">Notice</a>
        </li>      
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Tag">Tag's</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="NoticeTag">Notice & Tag's</a>
        </li>
    </ul>

    <div>
        <a type="button" class="nav-link btn btn-primary text-white" asp-controller="Login" asp-action="ExitSession">Logout</a>
    </div>

</div>
